@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-900  
}

.noselect {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
